*, *:before, *:after {
  -moz-box-sizing: border-box; 
  -webkit-box-sizing: border-box; 
  box-sizing: border-box;
 }

body{
  background: #FFAD4C;
  font-family: 'Ubuntu', sans-serif;
  color: #38353B;
}

#container{
  height: 1000px;
  width: 900px;
  margin: 0 auto;
}


/* ---- START MESSAGE ---- */
#start {
  background: #FFC886;
  padding: 15px;
  border: 5px solid #FF9211;
}


/* ---- CARD TABLE ---- */


#card-table{
  display: none; 
  margin: 50px auto;
  background: green;
  width: 800px; 
  height: 400px;
  border-radius: 500px 500px 500px 500px;
  -moz-border-radius: 500px 500px 500px 500px;
  -webkit-border-radius: 400px 400px 400px 400px;
}

#dealer {
  margin-left: auto;
  margin-right: auto;
  width: 600px;
  height: 70px;
  text-align: center;
}

#dealer p {
  padding-top: 20px;
  width: 200px;
  font-size: 2em;
  background: #FFAD4C;
  margin: auto;
}

#dealerCards {
  margin-top: 20px;
}



#deck{
  position: relative;
  margin-left: 320px;
  margin-top: 60px;
}

#deck-back-1{
  position: absolute;
  top: 0;
}

#deck-back-2{
  position: absolute;
  top: 4px;
}

#deck-back-3{
  position: absolute;
  top: 8px;
}

#deck-back-4{
  position: absolute;
  top: 12px;
}

#player {
  margin-top: 230px;
  width: 100%;
  text-align: center;
}

#player p {
  margin-top: 5px;
  font-size: 2em;
}

/* ---- PLAYER OPTIONS ---- */
#playerOptions {
  display: none;
  text-align: center;
  height: 50px;

}

#playerOptions button {
  background: #FFC886;
  color: #38353B;
  height: 50px;
  width: auto;
  min-width: 60px;
  font-size: 1.2em;
  outline-color:#FF7C43;
  border:2px #FF9E43 solid;
  margin-left: 5px;
}

#playerOptions button:hover{
  background: #FF9E43;
}

